@charset "utf-8";
*, *:before, *:after {
    box-sizing: border-box
}
body {
    font-family: "Tahoma", sans-serif;
}
#cities, #regions {
    font-size: 18px;
}
ul.list-insert {
   list-style: none;
}
li.list-inner-reg, li.list-inner {
    font-size: 14px;
}
.btn {
    font-size: 20px;
    font-family: "Tahoma", sans-serif;
    background-color: #aeeaae;
    border: none;
    padding: 18px;
    cursor: pointer;
    border-radius: 6px;
    margin: 0 0 20px 40px;
}
p#countdown {
    text-align: center;
    font-size: 30px;
}